#!/bin/zsh

# Define env vars
export REDIS_URL=<REDIS_URL_HERE>
export TIBIADATA_URL=<TIBIADATA_URL_HERE>
export POSTGRES_USER=<POSTGRES_USER_HERE>
export POSTGRES_PASSWORD=<POSTGRES_PASSWORD_HERE>
export POSTGRES_DB=<POSTGRES_DB_HERE>

